<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    
<!--Highscores Table-->
<table class="ITtable">
    <thead class="thead-dark">
        <tr>
            <th>Place</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>Jose</td>
            <td>600</td>
        </tr>
    </tbody>
</table>

<table class="AWStable">
    <thead class="thead-dark">
        <tr>
            <th>Place</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>Amanda</td>
            <td>800</td>
        </tr>
    </tbody>
</table>


</body>
</html>