<!--header-->
<%- include('include/_header')%>
<!--header-->

<body>
    <div class="container">
        <div id="home" class="flex-column flex-center">
            <h1>Capstone Project</h1>
            <h1>Technology Quizzes</h1>
            <a href="/iTGame" class="btn">Tech Maintenance Quiz</a>
            <a href="/awsQuiz" class="btn-aws">Amazon Web Quiz</a>
            <a href="/highscores" id="highscore-btn" class="btn">Highscores</a>
        </div>
    </div>
<!--closingBody-->
<%- include('include/_closingBody')%>
<!--closingBody-->